<div *ngIf="weatherData; else loading">
    <h1>Current Weather</h1>
    <p><strong>Location:</strong> {{ weatherData.name }}, {{ weatherData.sys.country }}</p>
    <p><strong>Temperature:</strong> {{ weatherData.main.temp }} °C</p>
    <p><strong>Weather:</strong> {{ weatherData.weather[0].description }}</p>
    <p><strong>Humidity:</strong> {{ weatherData.main.humidity }}%</p>
    <p><strong>Wind Speed:</strong> {{ weatherData.wind.speed }} m/s</p>
</div>

<ng-template #loading>
    <p>Loading...</p>
</ng-template>

<ng-template #error>
    <p>{{ error }}</p>
</ng-template>